//@font-face {
//    font-family: 'Open Sans';
//    src: url(path/to/file) format('truetype' or 'opentype' depending on the file extension of your font);
//}
@font-face {
    src: url("../fonts/nucleo.eot");
}

@font-face {
    src: url("../fonts/nucleo.ttf");
}

@font-face {
    src: url("../fonts/nucleo.woff");
}

@font-face {
    src: url("../fonts/nucleo.woff2");
}

@font-face {
    src: url("../fonts/nucleo-icons.eot");
}

@font-face {
    src: url("../fonts/nucleo-icons.svg");
}

@font-face {
    src: url("../fonts/nucleo-icons.ttf");
}

@font-face {
    src: url("../fonts/nucleo-icons.woff");
}

@font-face {
    src: url("../fonts/nucleo-icons.woff2");
}
